
.video-preview {
    /* display: inline-block; */
    /* width: 400px; */
    
}
.thumbnail {
    width: 100%;
}
.thumbnail-row {
    margin-bottom: 12px;
    position: relative;
}
.search-bar {
    font-size: 20px;
}
.video-tittle {
    width: 300px;
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}
.profile-picture {
    width: 36px;
    border-radius: 50px;
}
.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-1 {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.channel-12 {
    width: 50px;
    border-radius: 30px;
}
.videos {
    display: inline-block;
    /* width: 300px; */
}
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 16px;
    
}
.video-time {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}